.wallet__dashboard {
    &-container {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    &-accounts {
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        overflow-x: auto;
        width: auto;
        padding: 15px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: nowrap;

        @include themed() {
            background-color: t('bg-color-account');
        }

        .item {
            flex: 0 0 auto;
            height: 120px;
            width: 120px;
            margin: 5px;
            padding: 15px;
            border-radius: 10%;

            display: flex;
            flex-direction: column;

            @include themed() {
                background-color: t('bg-color-items');
            }

            &:not(.new) {
                justify-content: space-between;

                .icon {
                    font-size: 1.6rem;
                }

                .name {
                    font-size: .7rem;
                    color: $menu-color;
                    text-transform: uppercase;
                }

                .value {
                    font-weight: bolder;
                    font-size: 1.1rem;
                }

                .currency {
                    font-weight: lighter;
                }
            }

            &.new {
                justify-content: center;

                div {
                    text-align: center;
                }

                .icon {
                    font-size: 1.5rem;
                    color: lighten($color: $selected-color, $amount: 8);
                }

                .text {
                    font-size: .8rem;
                }

                @include themed() {
                    background-color: t('bg-color-new-item');
                }
            }
        }
    }

    &-cards-container {
        margin-top: -50px;
        z-index: 2;
    }
}

.summary {
    > span {
        font-size: .7rem;
        color: $menu-color;
    }

    p {
        margin-top: 5px;
        font-size: 1.3rem;

        span {
            font-weight: lighter;
        }
    }
}

.graph {
    margin-top: 15px;
    /*QUITAR*/
    width: 100%;
    padding-top: 60%;
    background-color: #252525;
    /*FIN QUITAR*/
}

.space {
    width: 15px;
    flex: 0 0 auto;
}